.body {
  height: 80vh;
  margin-top: 15px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 15px;

}

.largeText {
  font-size: 30pt;
}

.description {
  margin: 15px;
}

.text {
  font-size: 20px;
  font-weight: normal;
}

video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}