.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-holder {
  position: relative;
  padding: 32px;
  width: 100%;
  max-width: 640px;
  height: auto;
  min-height: 40vh;
  background-color: white;
  border-radius: 15px;

}
.content {
  padding: 16px;
  background-color: white;
}

.info-footer {
  display: flex;
  justify-content: space-between;
  margin: 50px 0 50px 0;
}
  button {
    border-radius: 10px;
    border: none;
    margin: 10px;
    padding: 10px 20px 10px 20px;
    font-size: 16px;
    transition-duration: 0.4s;
  }
  .cancel {
    background:#A43931;
  }
  .cancel:focus {
    outline: none;
  }
  .cancel:hover {
    background-color: #e15241; /* Green */
    color: white;
  }
  .select {
    background: green;
  }
  .select:focus {
    outline: none;
  }
  .select:hover {
    background-color: #4CAF50; /* Green */
    color: white;
  }
  .center {
    text-align: center;
  }
